{% extends 'base.html' %}
{% load static %}
{% block title %}BlogPost: Add Blog{% endblock %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card p-4 shadow-lg" style="max-width: 700px; width: 100%;">
       <h1 class="text-center mb-4">Add Blog</h1>

       <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="title" class="form-label fw-bold">Title</label>
                <input type="text" class="form-control" name="title" placeholder="Enter your blog title" required>
            </div>
          
            <div class="mb-3">
                <label for="article" class="form-label fw-bold">Article</label>
                <textarea name="article" class="form-control" rows="6" placeholder="Write your blog content here..." required></textarea>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-success btn-lg">Add Article</button>
            </div>
       </form>
    </div>
</div>

{% endblock %}
